@font-face { font-family: Caracteres; src: url( "../assets/fonts/Caracteres-L1.ttf" );}

html {
  -webkit-font-smoothing: antialiased;
  margin: 1rem 0.5rem 0rem 0.5rem;
  height: 90%;
}

@keyframes slideInLeft {
  0% {
    transform: translateX( -100% );
  }
  100% {
    transform: translateX( 0 );
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;

  /* make sure the body doesn't increase its height beyond the window size, so
  we can have the split container actually resize itself based on the body
  height */
  height: 100%;
  width: -webkit-fill-available;

  font-family: "Caracteres", sans-serif;
  color: #dadada;
  font-size: 1rem;
  overflow: hidden;

  /* prevent text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  animation: fadeIn 0.4s;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* remove the annoying "selection outline" when clicking on buttons */
button:focus {
  outline: none;
}

#rma-header {
  position: absolute;
  font-size: 4vw;
  top: 3.75vw;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  left: 3vw;
  -webkit-app-region: drag;
}

#obscuring-overlay {
  display: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  z-index: 5;

  width: 100%;
  height: 100%;
  background:#000000;
  opacity: 0.5;
  pointer-events: none;
}
