@font-face {
  font-family: Caracteres;
  src: url( "../assets/fonts/Caracteres-L1.ttf" );
  unicode-range: U+0030-007A, U+0021, U+002F, U+0027, U+002C, U+002D, U+002E;
  /*
  Unicode symbols defined: ! / ' , - .
  */
}

/* use Open Sans Regular for some symbols that Caracteres does not support */
@font-face {
  font-family: Symbols;
  src: url( "../assets/fonts/OpenSans-Regular.ttf" );
  unicode-range: U+0022, U+0025, U+0026, U+003F, U+0040;
  /*
  Unicode symbols defined: " % & ? @
  */
}

html {
  -webkit-font-smoothing: antialiased;
  margin: 1rem 0.5rem 0rem 0.5rem;
  height: 90%;
}

@keyframes slideInLeft {
  0% {
    transform: translateX( -100% );
  }
  100% {
    transform: translateX( 0 );
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --error-text-colour: #c82424;
}

body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;

  /* make sure the body doesn't increase its height beyond the window size, so
  we can have the split container actually resize itself based on the body
  height */
  height: 100%;
  width: -webkit-fill-available;

  /* see: @font-face at the top of this file */
  font-family: Symbols, Caracteres, sans-serif;
  color: #dadada;
  font-size: 1rem;
  overflow: hidden;

  /* prevent text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  animation: fadeIn 0.4s;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

button {
  font-family: Symbols, Caracteres, sans-serif;
}
input {
  font-family: Symbols, Caracteres, sans-serif;
}

/* remove the annoying "selection outline" when clicking on buttons */
button:focus {
  outline: none;
}

#rma-header {
  position: absolute;
  font-size: 4vw;
  top: 3.75vw;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  left: 3vw;
  -webkit-app-region: drag;
  /* place in front of everything always, even when class:obscuring-layer is
  active */
  z-index: 100;
}

#rma-header:after {
  content: "random map app";
  animation: switchToVersionText 30s infinite;
}

@keyframes switchToVersionText {
  0%,74% {
    opacity: 1;
    content: "random map app";
  }

  75% {
    opacity: 0;
  }

  76%,98% {
    opacity: 1;
    content: "RMA v1.1.0";
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    content: "random map app";
  }
}

#obscuring-overlay {
  display: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  z-index: 5;

  width: 100%;
  height: 100%;
  background:#000000;
  opacity: 0.5;
  pointer-events: none;
}

.image {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
.vhidden {
  visibility: hidden !important;
}

.loading-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vw;
  width: 43vw;
  height: 43vw;

  animation: spin 0.6s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate( 360deg );
  }
}

.error-container {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  /* move down */
  transform: translate(0, 10vw);

  /* set in front of class:obscuring-overlay */
  z-index: 6;
}
.error-container > :first-child {
  font-size: 8vw;
  font-size: 8vw;
  color: var(--error-text-colour);
}
.error-container > :nth-child(2) {
  color: #efefef;
  margin-top: 5vw;
  font-size: 7vw;
}
.error-container > :nth-child(2):after {
  content: ".";
  animation: elipsis 1.5s linear infinite;
}
@keyframes elipsis {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}
.error-container .loading-icon {
  margin-top: 18vh;
  width: 30vw;
  height: 30vw;
}
