body.challenge {
  gap: max( 2vw, 2vh);
}

#points-icon-container.challenge {
  -webkit-app-region: none !important;
  position: relative;
  display: flex;
  align-items: center;
  word-break: break-all;
  flex-grow: 1;
}
#points-icon.challenge {
  height: 18vh;
  position: unset;
  right: 0;
  opacity: 1;
}
#points-icon-text.challenge {
  color: #95c4ec;
  font-size: 14vh;
  margin-left: 0.5rem;
  word-break: keep-all;
}

#map-info {
  margin-left: 0.5rem;
  height: 11.5vh;
  color: #c3c3c3;
  font-size: max( 5vh, 6vw );
  flex-grow: 1;
}
.map-info-text-wrapper {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#map-info-name.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
#map-info-author {
  color: #969696;
}

#skips-container.challenge {
  margin-left: 0.5rem;
  flex-grow: 1;
}
#skips.challenge {
  font-size: max( 8vw, 6vh );
  position: relative;
}

#challenge-btn-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.challenge-run-btn {
  font-family: "Caracteres", sans-serif;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;

  overflow: hidden;
  background-color: transparent;
  display: inline-flex;
  font-size: 6.5vw;
  align-items: center;
  padding-top: 0.1rem;
}
.challenge-run-btn:hover {
  transition: 0s;
}
.challenge-run-btn:active {
  transition: 0s;
}

.neutral-btn {
  border: #95c4ec 0.1rem solid;
  color: #95c4ec;
}
.neutral-btn:hover:not(.disabled-btn) {
  background-color: #95c4ec;
  color: #31475b;
  border: transparent 0.1rem solid;
}
.neutral-btn:active:not(.disabled-btn) {
  color: #95c4ec;
  background-color: #45749b;
  border: #203547 0.1rem solid;
}

.warning-btn {
  border: #de8251 0.1rem solid;
  color: #de8251;
}
.warning-btn:hover:not(.disabled-btn) {
  background-color: #d5733e;
  color: #582d16;
  border: transparent 0.1rem solid;
}
.warning-btn:active:not(.disabled-btn) {
  color: #de8251;
  background-color: #582d16;
  border: #311a0d 0.1rem solid;
}

@keyframes spin-ccw {
  100% {
    transform: rotate( -360deg );
  }
}
.animation-spin-cww:hover .btn-icon {
  animation: spin-ccw 0.5s;
}

@keyframes animation-fading {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
.animation-fading:hover:not(.disabled-btn) .btn-icon {
  animation: animation-fading 4.5s infinite;
}

.disabled-btn {
  background-color: transparent;
  color: #4f4f4f;
  border: #4f4f4f 0.1rem solid;
  pointer-events: none;
}

#reset-btn {
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: auto;

  font-size: 4vw;
}
#reset-btn .btn-icon {
  width: 6vw;
  height: 6vh;
}
#reset-btn {
  border: #bf2020 0.1rem solid;
  color: #bf2020;
}
#reset-btn:hover:not(.disabled-btn) {
  background-color: #bf2020;
  color: #4b0d0d;
  border: transparent 0.1rem solid;
}
#reset-btn:active:not(.disabled-btn) {
  color: #bf2020;
  background-color: #821818;
  border: #390a0a 0.1rem solid;
}

/* @keyframes opacity-for-splash {
  0%, 80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
#splash-overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  z-index: 2;

  width: 100%;
  height: 100%;
  background:#000000;
  opacity: 0.3;

  animation: opacity-for-splash 1.25s forwards;
  pointer-events: none;
}

@keyframes slideInRight {
  0% {
    transform: translateX( 100% );
  }
  25%, 90% {
    transform: translateX( 0 );
  }
  100% {
    transform: translateX( -150% );
    display: none;
    visibility: hidden;
  }
}
#starting-splash {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 2rem;
  left: 0;
  z-index: 3;

  justify-content: center;
  align-items: center;

  pointer-events: none;

  animation: slideInRight 1.25s forwards;
}
.splash-slider {
  position: relative;
  width: 25vw;
  height: 25vw;
}
.slider2 {
  width: 30vw;
}

@keyframes splash-text {
  0%, 19% {
    opacity: 0;
    font-size: 18vw;
    letter-spacing: 0.5rem;
  }

  20% {
    opacity: 1;
    font-size: 18vw;
    letter-spacing: 0.1rem;
  }

  80% {
    opacity: 1;
    font-size: 18vw;
    letter-spacing: 0;
  }

  100% {
    opacity: 0;
    font-size: 30vw;
    letter-spacing: 1rem;
  }
}
#splash-text {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 2rem;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow: hidden;

  font-size: 18vw;
  font-style: italic;
  color: #368ec8;
  white-space: nowrap;

  pointer-events: none;

  animation: splash-text 1.25s forwards;
} */
