@font-face { font-family: Caracteres; src: url( "../assets/fonts/Caracteres-L1.ttf" );}

#close-app-btn {
  position: absolute;
  right: 1vw;
  top: 0.5vw;
  height: 10vw;
  width: 10vw;
  color: #bf2020;
  /* border: #bf2020 0.1rem solid;
  border-radius: 0.25rem; */
  outline: none;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
#close-app-btn:hover {
  color: #ff3939;
  /* background-color: #bf2020; */
  transition: 0s;
  /* border: transparent 0.1rem solid; */
}
#close-app-btn:active {
  color: #bf2020;
  /* background-color: #821818; */
  transition: 0s;
  /* border: transparent 0.1rem solid; */
}

#map-info {
  color: #c3c3c3;
  font-size: max( 5vh, 5vw );
  position: relative;
  left: 0.3rem;
  margin-top: 0.25rem;
  height: 11.5vh;
}
.map-info-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#map-info-name, #map-info-author {
  margin: 0;
}
#map-info-author {
  color: #a8a7a7;
}
#map-info-name.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
#seed {
  font-size: 7.5vw;
  color: #95c4ec;
  min-height: 9vw;
}

@keyframes spin {
  100% {
    transform: rotate( 360deg );
  }
}
@keyframes spin3d {
  100% {
    transform: rotate3d( 3, 2, 3, 2turn );
  }
}

@keyframes opac {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.15;
  }
}

#points-icon-container {
  -webkit-app-region: drag;
  display: flex;
  position: relative;
  height: 16vh;
  align-items: center;
  margin-bottom: 2.5vw;
  width: 80vw;
  margin-left: 0.3rem;
}
#mode {
  font-size: 13vw;
  color: #dadada;
  border-bottom: 0.15rem solid #4c677f;
  outline: aliceblue;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#points-icon {
  position: absolute;
  height: 222%;
  left: 21vw;
  top: -3vw;
  opacity: 0.15;
  z-index: -1;
}
#points-icon.animated {
  animation: spin3d 0.75s, opac 0.75s;
}

#skips-container {
  margin-top: 0.75rem;
}
#skips {
  font-size: 7vw;
  position: relative;
  left: 0.5rem;
}

.skip-class {
  color: #dadada;
}

.none {
  color: #4a4a4a;
}

#settings-icon-container {
  position: absolute;
  width: 100%;
  text-align: end;
}
#settings-icon {
  position: relative;
  width: 15vh;
  height: 15vh;
  max-width: 3rem;
  max-height: 3rem;
  right: 2rem;
  transition: 1s, width 0s, height 0s;
  cursor: pointer;
}
#settings-icon:hover {
  transition-duration: 0.3s;

  background-color: #1e384ec9;
  border-top-left-radius: 50% 1rem;
  border-top-right-radius: 50% 1rem;
  border-bottom-left-radius: 50% 1rem;
  border-bottom-right-radius: 50% 1rem;
  transform: rotate( 90deg );
}
.tooltip-text {
  visibility: hidden;
  width: 30vh;
  height: 1rem;
  background-color: #4177a7c9;
  color: #dadada;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  right: 6vh;
  bottom: 22vh;

  cursor: pointer;
  z-index: 1;

  opacity: 0;
  transition: 1s;
  transition: opacity 0.3s;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.4rem;
  border-width: 0.4rem;
  border-style: solid;
  border-color: #4177a796 transparent transparent transparent;
}
#settings-icon:hover +.tooltip-text {
  visibility: visible;
  opacity: 1;
}

.hub-btn-container {
  margin-left: 0.3rem;
  margin-bottom: 3.5vh;
}
.hub-btn {
  font-family: "Caracteres", sans-serif;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;

  overflow: hidden;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 7.5vw;
  padding-top: 0.1rem;

  border: #049770 0.1rem solid;
  color: #049770;
}
.hub-btn:hover {
  transition: 0s;
  background-color: #049770;
  color: #daefe9;
  border: transparent 0.1rem solid;
}
.hub-btn:active {
  transition: 0s;
  color: #049770;
  background-color: #014331;
  border: #011f17 0.1rem solid;
}

@keyframes slow-fade-repeat {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.animation-slow-fade-repeat:hover .btn-icon {
  animation: slow-fade-repeat 3s infinite;
  animation-delay: 1s;
}

.btn-icon {
  width: 9vw;
  height: 9vh;
  fill: currentColor;
  position: relative;
  right: 0.15rem;
}

.btn-text {
  position: relative;
  top: 0.05rem;
}
