@import url( "https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" );

@font-face { font-family: Dosis; src: url( "../assets/fonts/Dosis.ttf" );}
@font-face { font-family: Caracteres; src: url( "../assets/fonts/Caracteres-L1.ttf" );}
@font-face { font-family: Technology; src: url( "../assets/fonts/Technology.ttf" );}

html {
  user-select: none;
  -webkit-font-smoothing: antialiased;
  margin: 1rem 0.5rem 0rem 0.5rem;
  height: 100%;
}

@keyframes slideInLeft {
  0% {
    transform: translateX( -100% );
  }
  100% {
    transform: translateX( 0 );
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  /* animation: 0.3s ease-out 0s 1 slideInLeft; */
  animation: fadeIn 0.4s;

  /* font-family: "Dosis", sans-serif; */
  /* font-family: "ABeeZee", sans-serif; */
  font-family: "Caracteres", sans-serif;
  /* font-family: "Technology", sans-serif; */

  color: #95c4ec;
  background: rgba(0, 0, 0, 0.40);

  font-size: 1rem;

  overflow: hidden;

  /* make sure the body doesn't increase its height beyond the window size, so
  we can have the split container actually resize itself based on the body
  height */
  height: 100%;

  width: -webkit-fill-available;
  /* width: 100%; */

  display: inline-block;

  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* remove the annoying "selection outline" when clicking on buttons */
button:focus {
  outline: none;
}

#map-info {
  color: #c3c3c3;
  font-size: max( 5vh, 5vw );
  position: relative;
  left: 0.3rem;
  margin-top: 0.25rem;
}
.map-info-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#map-info-name, #map-info-author {
  margin: 0;
}
#map-info-author {
  color: #a8a7a7;
  /* font-size: 0.8rem; */
}
#map-info-name.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

#seed {
  position: absolute;
  font-size: 7.5vh;
  color: #95c4ec;
  left: 3.5rem;
  bottom: 0.3rem;
}

@keyframes spin {
  100% {
    transform: rotate( 360deg );
  }
}
@keyframes spin3d {
  100% {
    transform: rotate3d( 3, 2, 3, 2turn );
  }
}

#points-icon-container {
  margin-top: 1rem;
  height: 22vh;
  position: relative;
}
#points-icon {
  /* width: 3.75rem; */
  height: 92%;
}
#points-icon.animated {
  animation: spin3d 0.75s;
}
#points-icon.animated2 {
  animation: spin 0.5s;
}
#points-icon-text {
  color: #95c4ec;
  font-size: 14vh;
  position: absolute;
  top: 50%;
  margin-top: -8vh;
  margin-left: 2vw;

  animation: fadeIn 1s;
}

#skips-container {
  margin-top: 0.75rem;
}
#skips {
  font-size: 7vw;
  position: relative;
  left: 0.5rem;
}

.skip-class {
  color: #dadada;
}

.none {
  color: #4a4a4a;
}

#settings-icon-container {
  position: absolute;
  width: 100%;
  text-align: end;
}
#settings-icon {
  position: relative;
  width: 15vh;
  height: 15vh;
  max-width: 3rem;
  max-height: 3rem;
  right: 2rem;
  transition: 1s, width 0s, height 0s;
  cursor: pointer;
}
#settings-icon:hover {
  transition-duration: 0.3s;

  background-color: #1e384ec9;
  border-top-left-radius: 50% 1rem;
  border-top-right-radius: 50% 1rem;
  border-bottom-left-radius: 50% 1rem;
  border-bottom-right-radius: 50% 1rem;
  transform: rotate( 90deg );
}
.tooltip-text {
  visibility: hidden;
  width: 30vh;
  height: 1rem;
  background-color: #4177a7c9;
  color: #dadada;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  right: 6vh;
  bottom: 22vh;

  cursor: pointer;
  z-index: 1;

  opacity: 0;
  transition: 1s;
  transition: opacity 0.3s;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.4rem;
  border-width: 0.4rem;
  border-style: solid;
  border-color: #4177a796 transparent transparent transparent;
}
#settings-icon:hover +.tooltip-text {
  visibility: visible;
  opacity: 1;
}

.hub-btn-container {
  margin-left: 1vw;
  margin-bottom: 3.5vh;
}
.hub-btn {
  font-family: "Caracteres", sans-serif;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;

  overflow: hidden;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 7.5vw;
  padding-top: 0.1rem;

  /* color: #f0f0f0;
  background-color: #03694d;
  border: #03694d 0.1rem solid; */

  border: #049770 0.1rem solid;
  color: #049770;
}
.hub-btn:hover {
  transition: 0s;
  background-color: #049770;
  color: #daefe9;
  border: transparent 0.1rem solid;
}
.hub-btn:active {
  transition: 0s;
  color: #049770;
  background-color: #014331;
  border: #011f17 0.1rem solid;
}

@keyframes slow-fade-repeat {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.animation-slow-fade-repeat:hover .btn-icon {
  animation: slow-fade-repeat 3s infinite;
  animation-delay: 1s;
}

#challenge-btn-container {
  margin-top: 4vh;
  margin-left: 1vw;
}
.challenge-run-btn {
  visibility: hidden;

  font-family: "Caracteres", sans-serif;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;

  overflow: hidden;
  background-color: transparent;
  display: inline-flex;
  font-size: 6.5vw;
  align-items: center;
  padding-top: 0.1rem;
}
.challenge-run-btn:hover {
  transition: 0s;
}
.challenge-run-btn:active {
  transition: 0s;
}

.neutral-btn {
  border: #95c4ec 0.1rem solid;
  color: #95c4ec;
}
.neutral-btn:hover {
  background-color: #95c4ec;
  color: #31475b;
  border: transparent 0.1rem solid;
}
.neutral-btn:active {
  color: #95c4ec;
  background-color: #45749b;
  border: #203547 0.1rem solid;
}

.warning-btn {
  border: #de8251 0.1rem solid;
  color: #de8251;
}
.warning-btn:hover {
  background-color: #d5733e;
  color: #582d16;
  border: transparent 0.1rem solid;
}
.warning-btn:active {
  color: #de8251;
  background-color: #582d16;
  border: #311a0d 0.1rem solid;
}

@keyframes spin-ccw {
  100% {
    transform: rotate( -360deg );
  }
}
.animation-spin-cww:hover .btn-icon {
  animation: spin-ccw 0.5s;
}

@keyframes animation-squeeze {
  50% {
    transform: scale3d(1.5, 0.5, 0.3);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.animation-squeeze:hover .btn-icon {
  animation: animation-foo 0.5s;
}

.disabled-btn {
  background-color: transparent;
  color: #4f4f4f;
  border: #4f4f4f 0.1rem solid;
  pointer-events: none;
}

.btn-icon {
  width: 9vw;
  height: 9vh;
  fill: currentColor;
  position: relative;
  right: 0.15rem;
}

.btn-text {
  position: relative;
  top: 0.05rem;
}

#reset-btn {
  font-size: 4vw;
  margin-left: 8vw;
}
#reset-btn .btn-icon {
  width: 6vw;
  height: 6vh;
}
#reset-btn {
  border: #bf2020 0.1rem solid;
  color: #bf2020;
}
#reset-btn:hover {
  background-color: #bf2020;
  color: #4b0d0d;
  border: transparent 0.1rem solid;
}
#reset-btn:active {
  color: #bf2020;
  background-color: #821818;
  border: #390a0a 0.1rem solid;
}
#reset-btn .btn-text {
  top: 0;
}
