@import url( "https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" );

@font-face { font-family: Dosis; src: url( "../assets/fonts/Dosis.ttf" );}
@font-face { font-family: Caracteres; src: url( "../assets/fonts/Caracteres-L1.ttf" );}
@font-face { font-family: Technology; src: url( "../assets/fonts/Technology.ttf" );}

html {
  height: 100%;
  margin: 1rem 0.5rem 0.5rem;
}

@keyframes slideInLeft {
  0% {
    transform: translateX( -100% );
  }
  100% {
    transform: translateX( 0 );
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  /* animation: 0.3s ease-out 0s 1 slideInLeft; */
  animation: fadeIn 0.4s;

  /* font-family: "Dosis", sans-serif; */
  /* font-family: "ABeeZee", sans-serif; */
  font-family: "Caracteres", sans-serif;
  /* font-family: "Technology", sans-serif; */

  color: #95c4ec;
  background: rgba(0, 0, 0, 0.40);

  font-size: 1rem;

  overflow: hidden;

  /* make sure the body doesn't increase its height beyond the window size, so
  we can have the split container actually resize itself based on the body
  height */
  height: 100%;

  width: -webkit-fill-available;

  display: inline-block;

  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* remove the annoying "selection outline" when clicking on buttons */
button:focus {
  outline: none;
}

#settings-icon-container {
  position: absolute;
  width: 100%;
  text-align: end;
  margin-top: 0.25rem;
}
#settings-icon {
  position: relative;
  width: 15vh;
  height: 15vh;
  right: 2rem;
  transition: 1s;
  cursor: pointer;
}
#settings-icon:hover {
  transition-duration: 0.3s;

  background-color: #1e384ec9;
  border-top-left-radius: 50% 1rem;
  border-top-right-radius: 50% 1rem;
  border-bottom-left-radius: 50% 1rem;
  border-bottom-right-radius: 50% 1rem;
  transform: rotate( 90deg );
}
.tooltip-text {
  visibility: hidden;
  width: 2rem;
  height: 1rem;
  background-color: #4177a7c9;
  color: #dadada;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  width: 30vh;
  right: 6vh;
  bottom: 22vh;

  cursor: pointer;
  z-index: 1;

  opacity: 0;
  transition: 1s;
  transition: opacity 0.3s;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.4rem;
  border-width: 0.4rem;
  border-style: solid;
  border-color: #4177a796 transparent transparent transparent;
}
#settings-icon:hover +.tooltip-text {
  visibility: visible;
  opacity: 1;
}

#map-info {
  color: #adadad;
  font-size: 1rem;
  position: relative;
  left: 0.3rem;
  margin-top: 0.25rem;
}
#map-info-name, #map-info-author {
  margin: 0;
}
#map-info-author {
  color: #989898;
  font-size: 0.8rem;
}

@keyframes spin {
  100% {
    transform: rotate( 360deg );
  }
}
@keyframes spin3d {
  100% {
    transform: rotate3d( 3, 2, 3, 2turn );
  }
}

#points-icon-container {
  margin-top: 1rem;
}
#points-icon {
  width: 60px;
  height: 60px;
}
#points-icon.animated {
  animation: spin3d 0.75s;
}
#points-icon.animated2 {
  animation: spin 0.5s;
}
#points-icon-text {
  color: #95c4ec;
  font-size: 2.5rem;
  vertical-align: text-bottom;
  position: relative;
  bottom: 0.7rem;
  left: 0.5rem;

  animation: fadeIn 1s;
}

#skips-container {
  margin-top: 0.75rem;
}
#skips {
  font-size: 1.15rem;
  position: relative;
  left: 0.5rem;
}

.skip-class {
  color: #dadada;
}

.none {
  color: #4a4a4a;
}
