@font-face { font-family: Caracteres; src: url( "../assets/fonts/Caracteres-L1.ttf" );}

#close-app-btn {
  position: absolute;
  right: 1vw;
  top: 0.5vw;
  height: 10vw;
  width: 10vw;
  color: #bf2020;
  outline: none;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
#close-app-btn:hover {
  color: #ff3939;
  transition: 0s;
}
#close-app-btn:active {
  color: #bf2020;
  transition: 0s;
}

@keyframes spin {
  100% {
    transform: rotate( 360deg );
  }
}
@keyframes spin3d {
  100% {
    transform: rotate3d( 3, 2, 3, 2turn );
  }
}

@keyframes opac {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.15;
  }
}

@keyframes animate {
  0% {
    clip-path: circle(0%);
  }

  100% {
    clip-path: circle(100%);
  }
}
#points-icon-container {
  -webkit-app-region: drag;
  display: flex;
  position: relative;
  height: 16vh;
  margin-left: 0.3rem;
  margin-bottom: 2.5vw;
  align-items: center;
}
#mode {
  font-size: 13vw;
  color: #4c677f47;
  border-bottom: 0.15rem solid #4c677f14;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
}
/* mode2 is what the user eventually sees */
#mode2 {
  font-size: 13vw;
  color: #dadada;
  border-bottom: 0.15rem solid #4c677f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;

  animation: animate 1.25s;
}

#points-icon {
  position: absolute;
  height: 38vw;
  left: 21vw;
  top: -3vw;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
}
#points-icon.animated {
  animation: spin 0.8s, opac 0.75s;
}
#points-icon.animated2 {
  animation: spin 0.5s;
}

#run-settings-container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 2vh;

  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

#seed {
  font-size: 7.5vw;
  color: #95c4ec;
  min-height: 9vw;
}

#skips-container {
}
#skips {
  font-size: 9vw;
}

.skip-class {
  color: #dadada;
}

.none {
  color: #4a4a4a;
}

#settings-icon-container {
  position: absolute;
  right: 8vw;
  bottom: 0.5rem;
  width: 2.5rem;

  cursor: pointer;
}
#settings-icon {
  width: 18vw;
  height: 18vw;
  transition: 1s, width 0s, height 0s;
}
#settings-icon-container:hover #settings-icon {
  transition-duration: 0.3s;

  background-color: #1e384ec9;
  border-top-left-radius: 50% 1rem;
  border-top-right-radius: 50% 1rem;
  border-bottom-left-radius: 50% 1rem;
  border-bottom-right-radius: 50% 1rem;
  transform: rotate( 90deg );
}
.tooltip-text {
  visibility: hidden;
  width: 4.5rem;
  height: 1rem;
  background-color: #4177a7c9;
  color: #dadada;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  right: -7vw;
  bottom: 25vw;

  cursor: pointer;
  z-index: 1;

  opacity: 0;
  transition: 1s;
  transition: opacity 0.3s;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.4rem;
  border-width: 0.4rem;
  border-style: solid;
  border-color: #4177a796 transparent transparent transparent;
}
#settings-icon-container:hover #settings-icon +.tooltip-text {
  visibility: visible;
  opacity: 1;
}

.btn-icon {
  width: 9vw;
  height: 9vh;
  fill: currentColor;
  position: relative;
  right: 0.2rem;
}

.hub-btn-container {
  margin-left: 0.3rem;
  margin-bottom: 3.5vh;
}
.hub-btn {
  font-family: inherit;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;

  overflow: hidden;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 7.5vw;
  padding-top: 0.1rem;

  border: #049770 0.1rem solid;
  color: #049770;
}
.hub-btn:hover {
  transition: 0s;
  background-color: #049770;
  color: #daefe9;
  border: transparent 0.1rem solid;
}
.hub-btn:active {
  transition: 0s;
  color: #049770;
  background-color: #014331;
  border: #011f17 0.1rem solid;
}

@keyframes slow-fade-repeat {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.animation-slow-fade-repeat:hover .btn-icon {
  animation: slow-fade-repeat 3s infinite;
  animation-delay: 1s;
}
