body {
  color: #afe2ff;
  overflow-y: scroll;
}

#rma-header {
  position: absolute;
  font-size: 0.6rem;
  top: 0.5rem;
}

button {
  margin-right: 0.25rem;
}

#settings-container.hidden {
  display: none;
}

.settings-header {
  color: var(--white);
  font-size: 2rem;
  width: 50%;
  margin-top: 0.5rem;
  -webkit-app-region: drag;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}
.single-column {
  grid-column-start: 1;
  grid-column-end: 3;
}

.settings-form {
  margin-left: 0.1rem;
}

.disabled > label, .disabled * > label {
  color: #4c5763;
}
.disabled > input, .disabled * > input {
  color: #4c5763;
  background-color: #384049;
  pointer-events: none;
}

.error {
  color: var(--error-text-colour) !important;
}

.links-container {
  margin-bottom: 0.5rem;
}
#download-settings-link {
  color: #00a478;
  font-size: 0.8rem;
  display: inline-block;

  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}
#download-settings-link:hover {
  color: #06d6a0;
}
#import-settings-link {
  color: #00a478;
  font-size: 0.8rem;
  width: fit-content;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
#import-settings-link:hover {
  color: #06d6a0;
}
#import-settings-input {
  display: none;
}
#imported-message {
  display: none;
  font-size: 1rem;
  font-style: italic;
  color: #42c2a0;
}
#failed-imported-message {
  display: none;
  font-size: 1rem;
  font-style: italic;
  color: #c82424;
}
#settings-link-separator {
  color: #007c5b;
  font-size: 0.8rem;
}

/* mode selection dropdown */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.dropdown-btn {
  color: #f1f1f1;
  background-color: #03694d;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.15rem;
  min-width: 9.5rem;
  text-align: left;
}
#settings-name {
  margin-left: 0.5rem;
}
.dropdown-btn-icon {
  fill: #69a997;
  position: absolute;
  right: 0.8rem;
  bottom: 0.6rem;
  transition: transform 0.1s, fill 0.15s;
}

/* Rotate the dropdown button icon */
.dropdown:hover .dropdown-btn-icon {
  transition: transform 0.1s, fill 0.25s;
  transform: rotate( 90deg );
  fill: currentColor;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {
  background-color: #03815f;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 9.5rem;
  z-index: 1;
  border-radius: 0.15rem;
}

/* Links inside the dropdown */
.dropdown-content button {
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;

  font-size: 1rem;
  text-align: start;
  color: black;
  background-color: inherit;
  text-decoration: none;

  border-radius: 0.15rem;
  border: none;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  color: #0d2e41;
  background-color: #d6e0e6;
}
.dropdown-content button:active {
  color: #134462;
  background-color: #adc5d4;
}

.checkbox-btn {
  color: #686868;
  background-color: #353535;
  border: #353535 0.1rem solid;
  font-size: 1rem;
  border-radius: 0.15rem;
  margin-bottom: 0.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
  max-height: 1.5rem;
  min-height: 1.5rem;
  line-height: 1.25rem;
  text-align: center;
  transition: 0s;
}

.checkbox-btn:hover {
  transition: 0s;
  cursor: pointer;
  color: #f1f1f1;
  background-color: #5c5c5c;
  border: #5c5c5c 0.1rem solid;
}
.checkbox-btn:active {
  transition: 0s;
  color: #a7a7a7;
  background-color: #4d4d4d;
  border: #4d4d4d 0.1rem solid;
}

.any-percent {
  color: #f1f1f1;
  background-color: #2e5c8a;
  border: #2e5c8a 0.1rem solid;
}
.checkbox-btn.any-percent:hover {
  color: #fafafa;
  background-color: #376ea5;
  border: #34699e 0.1rem solid;
}
.checkbox-btn.any-percent:active {
  color: #bfbfbf;
  background-color: #325e8b;
  border: transparent 0.1rem solid;
}

label {
  color: aliceblue;
  font-size: 0.9rem;
  display: block;
}

input {
  width: 7.5rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;

  /* have the input box cut off at the form containers padding, instead of
  slightly further beyond */
  box-sizing: border-box;

  background-color: #2e5c8a;
  color: aliceblue;

  border-radius: 0.15rem;
  border-style: none;

  /* remove the native outline around selected inputs */
  outline: none;
}
input::placeholder {
  font-style: italic;
  color:#5d94c8;
  font-size: 0.65rem;
}
input[type="checkbox"] {
  cursor: pointer;

  /* align checkboxes to the left */
  width: auto;
}

.generic-btn {
  font-size: 1rem;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;

  overflow: hidden;
  background-color: transparent;

  color: #597e9e;
  border: #527089 0.1rem solid;
}
.generic-btn:hover {
  transition: 0s;
  color: #f1f1f1;
  background-color: #527089;
  border: transparent 0.1rem solid;
}
.generic-btn:active {
  color: #97a3ad;
  background-color: #344757;
  border: #051f35 0.1rem solid;
}

#map-pool-size {
  font-size: 1rem;
  position: absolute;
  top: 4.25rem;
  right: 1.5rem;
  color: #ededed;
  font-style: italic;
  white-space: pre-line;
  text-align: center;
}

#map-search-btn {
  position: absolute;
  top: 1.75rem;
  right: 0.5rem;
  align-items: center;
  padding-top: 0.1rem;
}

#fastestSSTime-formatted {
  font-size: 0.85rem;
}

#back-button {
  cursor: pointer;
  font-size: 1.15rem;

  border-radius: 0.1rem;
  border-style: none;

  background-color: #95c4ec;

  margin-bottom: 0.5rem;
}
#back-button:hover {
  color: #13435f;
  background-color: #9bccf6;
}
#back-button:active {
  color: #0e3851;
  background-color: #80a9cd;
}

#save-button {
  cursor: pointer;
  font-size: 1.15rem;

  border-radius: 0.1rem;
  border-style: none;

  color: #03694d;
  background-color: #06d6a0;

  margin-bottom: 0.5rem;
}
#save-button.disabled {
  color: #4f4f4f;
  background-color: #353535;
  pointer-events: none;
}
#save-button:hover:not(.disabled) {
  color: #027a5a;
  background-color: #04efb1;
}
#save-button:active:not(.disabled) {
  color: #025c44;
  background-color: #05b486;
}

#discard-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.15rem;

  border-radius: 0.1rem;
  border-style: none;

  color: #7f3d19;
  background-color: #de8251;

  margin-bottom: 0.5rem;

  &.hidden {
    display: none;
  }
}
#discard-button:hover {
  color: #8c421b;
  background-color: #f59561;
}
#discard-button:active {
  color: #693215;
  background-color: #b06841;
}

.input-icon {
  vertical-align: text-bottom;

  fill: #025c44;
  padding-right: 0.1rem;
  transition: transform 0s;
}
.input-icon:hover {
  cursor: pointer;

  fill: #03a87c;
}
.input-icon:active {
  transform: scale(0.8);
  transition: transform 0.05s;
  fill: #03a87c;
}
#seed-copy-btn-filled {
  fill: #03a87c;
}

#saved-message {
  display: none;
  font-size: 1rem;
  font-style: italic;
  color: #287661;
}

.slider-container {
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 1vh;
  border-radius: 1rem;
  background: #708396;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
.slider:hover {
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #04a077;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background: #06d59e;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #04a077;
  cursor: pointer;
}

#map-search-container {
  display: none;

  margin-top: 0.5rem;
}
#map-search-container.opened {
  display: block;
}

#map-search-header {
  font-size: 2rem;
  display: block;
  width: 70%;
  -webkit-app-region: drag;
}

#map-search-back-btn {
  position: absolute;
  right: 0.5rem;
  top: 2rem;
}

#map-search-label {
  font-size: 1rem;
  margin-top: 0.25rem;
}

#map-search-input {
  font-size: 1rem;
  text-align: center;
  width: -webkit-fill-available;
  height: 1.75rem;
}
#map-search-input::placeholder {
  font-size: 1rem;
}

#map-list-container {
  display: none;

  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
  border-left: 0.15rem solid #4c677f;
  overflow-y: scroll;
}
#map-list-container.opened {
  display: block;
}
#map-list-container::-webkit-scrollbar {
  width: 0.5rem;
  background: #4c677f;
}
#map-list-container::-webkit-scrollbar-thumb {
  background-color: #334454;
  border-radius: 0.3rem;
}
#map-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #3c5062;
}
#map-list-container::-webkit-scrollbar-thumb:active {
  background-color: #334454;
}
.map-list-element-container {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.filename {
  margin-left: 0.5rem;
  color: aliceblue;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author {
  margin-left: 1rem;
  color: #a9b5bb;
  overflow: hidden;
  text-overflow: ellipsis;
}
