body {
  color: #afe2ff;
  overflow-y: scroll;
}

#rma-header {
  position: absolute;
  font-size: 0.6rem;
  top: 0.5rem;
}

button {
  font-family: "Caracteres", sans-serif;
  margin-right: 0.25rem;
}

.settings-header {
  -webkit-app-region: drag;
  font-size: 2rem;
  color: #ededed;
  margin-top: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}
.single-column {
  grid-column-start: 1;
  grid-column-end: 3;
}

.settings-form {
  margin-left: 0.1rem;
}

.disabled * > label {
  color: #4c5763;
}
.disabled * > input {
  color: #4c5763;
  background-color: #384049;
}

.error {
  color: #c82424 !important;
}

.links-container {
  margin-bottom: 0.5rem;
}
#download-settings-link {
  color: #00a478;
  font-size: 0.8rem;
  display: inline-block;
}
#download-settings-link:hover {
  color: #06d6a0;
}
#import-settings-link {
  color: #00a478;
  font-size: 0.8rem;
  width: fit-content;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
#import-settings-link:hover {
  color: #06d6a0;
}
#import-settings-input {
  display: none;
}
#imported-message {
  display: none;
  font-size: 1rem;
  font-style: italic;
  color: #42c2a0;
}
#failed-imported-message {
  display: none;
  font-size: 1rem;
  font-style: italic;
  color: #c82424;
}
#settings-link-separator {
  color: #007c5b;
  font-size: 0.8rem;
}

/* mode selection dropdown */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.dropdown-btn {
  color: #f1f1f1;
  background-color: #03694d;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.15rem;
  min-width: 9.5rem;
  text-align: left;
}
#settings-name {
  margin-left: 0.5rem;
}
.dropdown-btn-icon {
  fill: #69a997;
  position: absolute;
  right: 0.8rem;
  bottom: 0.6rem;
  transition: transform 0.1s, fill 0.15s;
}

/* Rotate the dropdown button icon */
.dropdown:hover .dropdown-btn-icon {
  transition: transform 0.1s, fill 0.25s;
  transform: rotate( 90deg );
  fill: currentColor;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {
  background-color: #03815f;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 9.5rem;
  z-index: 1;
  border-radius: 0.15rem;
}
.hidden {
  visibility: hidden;
}

/* Links inside the dropdown */
.dropdown-content button {
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;

  font-size: 1rem;
  text-align: start;
  color: black;
  background-color: inherit;
  text-decoration: none;

  border-radius: 0.15rem;
  border: none;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  color: #0d2e41;
  background-color: #d6e0e6;
}
.dropdown-content button:active {
  color: #134462;
  background-color: #adc5d4;
}

label {
  color: aliceblue;
  font-size: 0.9rem;
  display: block;
}

input {
  font-family: "Caracteres", sans-serif;

  width: 7.5rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;

  /* have the input box cut off at the form containers padding, instead of
  slightly further beyond */
  box-sizing: border-box;

  background-color: #2e5c8a;
  color: aliceblue;

  border-radius: 0.15rem;
  border-style: none;

  /* remove the native outline around selected inputs */
  outline: none;
}
input::placeholder {
  font-style: italic;
  color:#5d94c8;
  font-size: 0.65rem;
}
input[type="checkbox"] {
  cursor: pointer;

  /* align checkboxes to the left */
  width: auto;
}

#map-pool-size {
  font-size: 1rem;
  position: absolute;
  top: 2.25rem;
  right: 1.5rem;
  color: #ededed;
  font-style: italic;
  white-space: pre-wrap;
  text-align: center;
}

#fastestSSTime-formatted {
  font-size: 0.85rem;
}

#back-button {
  cursor: pointer;
  font-size: 1.15rem;

  border-radius: 0.1rem;
  border-style: none;

  background-color: #95c4ec;

  margin-bottom: 0.5rem;
}
#back-button:hover {
  color: #13435f;
  background-color: #9bccf6;
}
#back-button:active {
  color: #0e3851;
  background-color: #80a9cd;
}

#save-button {
  cursor: pointer;
  font-size: 1.15rem;

  border-radius: 0.1rem;
  border-style: none;

  color: #4f4f4f;
  background-color: #353535;

  color: #03694d;
  background-color: #06d6a0;

  margin-bottom: 0.5rem;
}
#save-button.disabled {
  color: #4f4f4f;
  background-color: #353535;
  pointer-events: none;
}
#save-button:hover:not(.disabled) {
  color: #027a5a;
  background-color: #04efb1;
}
#save-button:active:not(.disabled) {
  color: #025c44;
  background-color: #05b486;
}

#discard-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.15rem;

  border-radius: 0.1rem;
  border-style: none;

  color: #7f3d19;
  background-color: #de8251;

  margin-bottom: 0.5rem;

  &.hidden {
    display: none;
  }
}
#discard-button:hover {
  color: #8c421b;
  background-color: #f59561;
}
#discard-button:active {
  color: #693215;
  background-color: #b06841;
}

.input-icon {
  vertical-align: text-bottom;

  fill: #025c44;
  padding-right: 0.1rem;
  transition: transform 0s;
}
.input-icon:hover {
  cursor: pointer;

  fill: #03a87c;
}
.input-icon:active {
  transform: scale(0.8);
  transition: transform 0.05s;
  fill: #03a87c;
}
#seed-copy-btn-filled {
  fill: #03a87c;
}

.hidden {
  display: none !important;
}

#saved-message {
  display: none;
  font-size: 1rem;
  font-style: italic;
  color: #287661;
}

.slider-container {
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 1vh;
  border-radius: 1rem;
  background: #708396;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
.slider:hover {
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #04a077;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background: #06d59e;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #04a077;
  cursor: pointer;
}
