@keyframes rotateWithDelay {
  0% {}
  66%, 100% {
    transform: rotate3d( 0, 1, 0, 1turn );
  }
}
@keyframes opac {
  0% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }
}

#title-logo {
  position: absolute;
  margin-top: 5vw;
  margin-left: 2vw;
  width: 18vw;
  height: 18vw;
  opacity: 0.8;
}
.rotate-y-animation {
  animation: rotateWithDelay 3.5s infinite, opac 3.5s infinite;
  animation-delay: 1s;
}

#title-container {
  margin-top: 5vw;
  margin-bottom: 8vw;
  text-align: center;
}
#title-text {
  color: aliceblue;
  font-size: 2.5rem;
  border-bottom: 0.15rem solid #4c677f;
  border-radius: 0.1rem;
}

#dustforce-directory-container {
  text-align: center;
}
#open-directory-link {
  display: none;
  width: fit-content;
  margin-bottom: 4vw;

  color: #00a478;
  font-size: 7vw;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}
#open-directory-link:hover {
  color: #06d6a0;
}
#open-directory-input {
  display: none;
}
#confirmation-text {
  color: #059c74;
  font-size: 8vw;
  font-style: italic;
}
#dustforce-directory-input-warning {
  display: none;
  color: #d10202;
  font-size: 6vw;
  font-style: italic;
  margin-top: 0.1rem;
}

#initializing-text {
  display: none;
  /* display should be 'flex' when wanting to show the element
  display: flex; */
  position: relative;
  justify-content: center;

  margin-top: 10vh;
  color: aliceblue;
  font-size: 15vw;

  animation: opac2 0.5s;
}

@keyframes opac2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
