.timers-container {
  /* allow the frameless window to be dragged by the header */
  -webkit-app-region: drag;
}

#main-time {
  color: #efefef;
  font-size: 12vw;
  letter-spacing: 0.1rem;
}
#main-time.running {
  margin-top: 4vw;
  font-size: 16vw !important;
  letter-spacing: 0.2rem;
}
