<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/timers.css" />
    <link rel="stylesheet" href="../styles/challenge.css" />
    <title>Random Map App</title>
  </head>

  <template id="main-hub-template">
    <span id="rma-header">
      random map app
    </span>

    <!-- <svg id="close-app-btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="btn-icon bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg> -->

    <div id="points-icon-container">
      <span id="mode"></span>
      <span id="mode2"></span>
      <img draggable="false" class="animated" id="points-icon" alt="S-Complete Icon" src="../assets/s-complete-icon.png" />
    </div>

    <div class="hub-btn-container">
      <button id="start-btn" type="button" class="hub-btn animation-slow-fade-repeat">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="btn-icon bi bi-play-fill" viewBox="0 0 16 16">
          <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
        <span class="hub-btn-text">Start Challenge</span>
      </button>
    </div>

    <div class="timers-container" id="timers-container">
      <div class="timer" id="main-time">
      </div>
    </div>

    <div id="seed"></div>

    <div id="settings-icon-container">
      <img id="settings-icon" src="../assets/settings-icon.png" />
      <span class="tooltip-text">Settings</span>
    </div>

    <div id="skips-container">
      <span id="skips" class="skip-class">Skips remaining: 1</span>
    </div>
  </template>


  <template id="challenge-run-template">
    <span id="rma-header">
      random map app
    </span>

    <div class="timers-container" id="timers-container">
      <div class="timer" id="main-time"></div>
    </div>

    <div id="points-icon-container">
      <img id="points-icon" alt="S-Complete Icon" src="../assets/s-complete-icon.png" />

      <span id="points-icon-text">0</span>

      <div id="map-info">
        <div id="map-info-name" class="map-info-text clickable">map</div>
        <div id="map-info-author" class="map-info-text">author</div>
      </div>
    </div>

    <div id="skips-container">
      <span id="skips" class="skip-class">Skips remaining: 1</span>
    </div>

    <div id="challenge-btn-container">
      <button id="replay-btn" type="button" class="challenge-run-btn neutral-btn animation-spin-cww">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="btn-icon bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
          <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
        </svg>
        <span class="btn-text">Load</span>
      </button>

      <button id="skip-btn" type="button" class="challenge-run-btn warning-btn animation-squeeze">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="btn-icon bi bi-skip-end-fill" viewBox="0 0 16 16">
          <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z"/>
        </svg>
        <span class="btn-text">Skip</span>
      </button>

      <button id="reset-btn" type="button" class="challenge-run-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="btn-icon bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <span class="btn-text">Reset</span>
      </button>
    </div>

    <div id="splash-overlay"></div>
    <div id="starting-splash" class="splash">
      <img class="splash splash-slider slider1" src="../assets/slider-1.png" />
      <img class="splash splash-slider slider2" src="../assets/slider-2.png" />
      <img class="splash splash-slider slider2" src="../assets/slider-2.png" />
      <img class="splash splash-slider slider2" src="../assets/slider-2.png" />
      <img class="splash splash-slider slider3" src="../assets/slider-3.png" />
    </div>
    <span id="splash-text" class="splash">Let's Dust</span>
  </template>

  <body>
    <!-- when initializing (and resetting the timer), replace the children of
    the body with the above template, and then fill in values as they should be
    according to stored data and user configuration -->
  </body>

  <script src="../neutralino-lib/neutralino.js"></script>
  <script type="module" src="../js/index.js"></script>
</html>
