<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <title>Settings</title>
  </head>

  <body>
    <span id="rma-header">
      <!-- random map app -->
    </span>

    <div id="settings-container" class="container">
      <div class="settings-header">
        Settings
      </div>

      <div class="links-container">
        <a id="download-settings-link" download="settings.json">Download</a>
        <span id="settings-link-separator">/</span>
        <label id="import-settings-link">
          Import
          <input type="file" id="import-settings-input" accept=".json" />
        </label>
        <span id="imported-message">imported!</span>
        <span id="failed-imported-message">invalid file</span>
      </div>

      <span id="map-pool-size">
        Matches:
        <span id="map-pool-size-number">...</span> Maps
      </span>

      <button id="map-search-btn" class="generic-btn">
        <span id="map-search-btn-text">Search Maps</span>
      </button>

      <div class="dropdown">
        <button class="dropdown-btn">
          <span id="settings-name"></span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="dropdown-btn-icon bi bi-play-fill" viewBox="0 0 16 16">
            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
          </svg>
        </button>

        <div class="dropdown-content" id="settings-list">
        </div>
      </div>

      <form class="settings-form" autocomplete="off" autocapitalize="off">
        <div class="grid">
          <div class="setting-container single-column">
            <label for="seed">Seed</label>
            <input type="text" id="seed-input" name="seed" maxlength="12" placeholder="example: bad maps pls"/>
            <svg id="seed-copy-btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="input-icon bi bi-clipboard2" viewBox="0 0 16 16">
              <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
              <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
            </svg>
            <svg id="seed-copy-btn-filled" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="input-icon hidden bi bi-clipboard2-check-fill" viewBox="0 0 16 16">
              <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
              <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5Zm6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708Z"/>
            </svg>

            <svg id="clear-seed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="input-icon grey-icon bi bi-x-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>

          <div class="setting-container">
            <label for="time">Time (minutes)</label>
            <input type="number" id="time-input" name="time" min="1" max="1440" placeholder="min. 1, max. 1440"/>
          </div>

          <div class="setting-container">
            <label for="minSSCount">min. SS count</label>
            <input type="number" id="minSSCount-input" name="minsscount" min="0" max="500" placeholder="max. 500"/>
          </div>

          <div class="setting-container">
            <label for="maxSSCount">max. SS count</label>
            <input type="number" id="maxSSCount-input" name="maxsscount" min="0" max="500" placeholder="max. 500"/>
          </div>

          <div class="setting-container single-column">
            <label for="fastestSSTime">max. World Record Time (milliseconds)</label>
            <input type="number" id="fastestSSTime-input" name="fastestsstime" min="16" max="3599999"/>
            <span id="fastestSSTime-formatted">0:00:00.000</span>
          </div>

          <div class="setting-container single-column">
            <label for="CMPLevels">CMP levels</label>
            <input type="checkbox" id="CMPLevels-input" name="CMPLevels"/>
          </div>

          <div class="setting-container">
            <label for="skips">Skips</label>
            <input type="checkbox" id="skips-input" name="skips"/>
          </div>
          <div id="infinite-skips" class="setting-container">
            <label for="infinite-skips">Infinite Skips</label>
            <input type="checkbox" id="infinite-skips-input" name="infinite-skips"/>
          </div>
        </div>

        <div id="skips-settings-container" class="setting-container grid">
          <div class="setting-container">
            <label for="freeSkips">Free Starting Skips</label>
          </div>
          <div class="setting-container">
            <label for="freeSkipsAfterX">Free Skip Every X SS Completions</label>
          </div>

          <div class="setting-container">
            <input type="number" id="freeSkips-input" name="freeskips" max="50">
          </div>
          <div class="setting-container">
            <input type="number" id="freeSkipsAfterX-input" name="freeskipsafterx" max="100"/>
          </div>
        </div>
      </form>

      <div class="slider-container">
        <span>Background Opacity</span>
        <input type="range" min="0" max="100" value="50" class="slider" id="app-opacity-range">
      </div>

      <button id="back-button" type="button">
        BACK
      </button>

      <button id="save-button" class="disabled" type="button">
        SAVE
      </button>

      <button id="discard-button" class="hidden" type="button">
        DISCARD
      </button>

      <span id="saved-message">
        saved!
      </span>
    </div>

    <div id="map-search-container">
      <div id="map-search-header">
        Map Search
      </div>

      <label for="search" id="map-search-label">Name / id / Author</label>
      <input type="text" id="map-search-input" name="map-search" placeholder="Cyber Complex"/>

      <button id="map-search-back-btn" class="generic-btn" type="button">
        settings
      </button>
    </div>

    <div id="map-list-container">
      <div class="map-list-element-container">
        <span class="filename">Map</span>
        <span class="author">Author</span>
      </div>
    </div>
  </body>

  <script src="../app/bundle/index.js"></script>
  <!-- <script>nw.Window.get().evalNWBin( null, "app.bin" );</script> -->
</html>
