<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <link rel="stylesheet" href="../styles/hotkeySetup.css" />
    <title>Settings</title>
  </head>

  <body>
    <div class="container">
      <div class="settings-header">
        Settings
      </div>

      <div class="links-container">
        <a id="download-settings-link" download="df-RMA-settings.json">Download</a>
        <span id="settings-link-separator">/</span>
        <label id="import-settings-link">
          Import
          <input type="file" id="import-settings-input" accept=".json" />
        </label>
        <span id="imported-message">imported!</span>
        <span id="failed-imported-message">invalid file</span>
      </div>

      <span id="map-pool-size">
        Matches:
        <span id="map-pool-size-number">...</span> Maps
      </span>

      <div class="dropdown">
        <button class="dropdown-button" id="settings-name">Classic Mode</button>
        <div class="dropdown-content" id="settings-list">
        </div>
      </div>

      <form class="settings-form" autocomplete="off" autocapitalize="off">
        <label for="seed">Seed</label>
        <input type="text" id="seed-input" name="seed" maxlength="12" placeholder="example: bad maps pls"/>

        <label for="time">Time (minutes)</label>
        <input type="number" id="time-input" name="time" min="1" max="900" placeholder="min. 1, max. 900"/>

        <label for="minSSCount">min. SS count</label>
        <input type="number" id="minSSCount-input" name="minsscount" max="500" placeholder="max. 500"/>

        <label for="fastestSSTime">Fastest SS Time (milliseconds)</label>
        <input type="number" id="fastestSSTime-input" name="fastestsstime" max="7200000"/>
        <span id="fastestSSTime-formatted">0:00:00.000</span>

        <label for="CMPLevels">CMP levels</label>
        <input type="checkbox" id="CMPLevels-input" name="CMPLevels"/>

        <label for="skips">Skips</label>
        <input type="checkbox" id="skips-input" name="skips"/>

        <div id="skips-settings-container">
          <label for="freeSkips">Free Starting Skips</label>
          <input type="number" id="freeSkips-input" name="freeskips" max="10000">

          <label for="freeSkipsAfterX">Free Skip Every X SS Completions</label>
          <input type="number" id="freeSkipsAfterX-input" name="freeskipsafterx" max="10000"/>
        </div>
      </form>

      <form id="hotkeys-form" autocomplete="off" autocapitalize="off">
        <div id="hotkeys-form-text">Hotkeys</div>
        <input class="hotkey-input" type="text" id="start-hotkey-input" name="start-hotkey" placeholder="Start / Skip"/>

        <input class="hotkey-input" type="text" id="replay-hotkey-input" name="replay-hotkey" placeholder="re-enter level"/>

        <input class="hotkey-input" type="text" id="reset-hotkey-input" name="reset-hotkey" placeholder="reset"/>
      </form>

      <div class="slider-container">
        <span>Background Opacity</span>
        <input type="range" min="0" max="100" value="50" class="slider" id="app-opacity-range">
      </div>

      <button id="back-button" type="button">
        BACK
      </button>

      <button id="save-button" type="button">
        SAVE
      </button>
      <span id="saved-message">
        saved!
      </span>
    </div>
  </body>

  <script src="../app/bundle/index.js"></script>
</html>
