<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/setup.css" />
    <title>Random Map App Setup</title>
  </head>

  <body>
    <span id="rma-header">
      <!-- random map app -->
    </span>

    <img id="title-logo" class="rotate-y-animation" alt="S-Complete Icon" src="../assets/s-complete-icon.png" />

    <div id="title-container">
      <span id="title-text">
        Setup
      </span>
    </div>

    <div id="dustforce-directory-container">
      <label id="open-directory-link">
        Select Your Dustforce Directory
        <input type="file" id="open-directory-input" nwdirectory />
      </label>
      <span id="confirmation-text"></span>

      <div id="dustforce-directory-input-warning"></div>
    </div>

    <div id="initializing-text">
      Initializing
    </div>
  </body>

  <script src="../app/bundle/index.js"></script>
  <!-- <script>nw.Window.get().evalNWBin( null, "app.bin" );</script> -->
</html>
